img {
    max-width: 100%;
}
.list-inline-icons {
    li {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: var(--black-color);
            line-height: 1;
            svg {
                width: 20px;
                flex: 0 0 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        @include not-last-child {
            margin-right: 1rem;
        }
    }
}

.breadcrumbs-holder {
    border-bottom: 1px solid var(--blue-color); //blue
    padding-bottom: 10px;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        align-items: center;
        li {
            display: flex;
            align-items: center;
            span {
                font-weight: bold;
            }
            a {
                color: var(--black-color); //black
            }
            &:not(:last-child) {
                &::after {
                    content: "";
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    border-top: 1px solid;
                    border-left: 1px solid;
                    transform: rotate(135deg);
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.page-title {
    h1 {
        border-left: 4px solid var(--accent-color);
        padding-left: 20px;
        margin-bottom: 0;
    }
}

.btn.btn {
    &:not(.btn-link) {
        @include button-style;
    }
    &.btn-primary {
        @include button-primary;
    }
    &.btn-black {
        @include button-black;
    }
    &.btn-white {
        @include button-white;
    }
    &.btn-accent {
        @include button-accent;
    }
}
.wp-element-button.wp-element-button {
    @include button-style;
    @include button-black;
}
.taxonomy-terms {
    a {
        @include status-style;
        background-color: var(--accent-color);
        text-decoration: none;
        color: var(--white-color);
        @include not-last-child {
            margin-right: 10px;
        }
    }
}

.swiper-button {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
        font-size: 14px;
        color: var(--white-color);
        font-weight: bold;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
        width: 34px;
        height: 34px;
        border-radius: 100px;
        transition: 400ms;
    }
    &:hover {
        &:before {
            transform: rotate(45deg);
        }
    }
}

section.loading-post input,
section.loading-post .load-more a,
section.loading-post select {
    pointer-events: none;
}
.loading-results svg {
    width: 50px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#load-more {
    display: inline-flex;
    align-items: center;
    svg {
        display: none;
        width: 30px;
        height: 30px;
        margin-left: 1rem;
    }
    &.loading {
        display: inline-block;
    }
}