img {
    max-width: 100%;
}
.list-inline-icons {
    li {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: var(--black-color);
            line-height: 1;
            svg {
                width: 20px;
                flex: 0 0 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        @include not-last-child {
            margin-right: 1rem;
        }
    }
}

.breadcrumbs-holder {
    border-bottom: 1px solid var(--blue-color); //blue
    padding-bottom: 10px;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        align-items: center;
        li {
            display: flex;
            align-items: center;
            span {
                font-weight: bold;
            }
            a {
                color: var(--black-color); //black
            }
            &:not(:last-child) {
                &::after {
                    content: "";
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    border-top: 1px solid;
                    border-left: 1px solid;
                    transform: rotate(135deg);
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.btn {
    padding: 10px 20px;
    &:not(.btn-link) {
        font-weight: bold;
        border-radius: 8px;
    }
}