body {
    font-family: "Source Sans 3", sans-serif;
}

@include headings {
    font-weight: bold;
    line-height: 1.2;
}
p:last-child {
    margin-bottom: 0 !important;
}

h1 {
    font-size: 4.25rem;
}
h2 {
    font-size: 3.125rem;
}
h3 {
    font-size: 1.5rem;
}