body {
    font-family: "Source Sans 3", sans-serif;
}

@include headings {
    font-weight: bold;
    line-height: 1.2;
}
p:last-child {
    margin-bottom: 0 !important;
}

h1 {
    font-size: 4.25rem;
    @include responsive(xs-sm) {
        font-size: 3.5rem;
    }
    @include responsive(xs) {
        font-size: 3rem;
    }
    @include responsive(mobile) {
        font-size: 2.5rem;
    }
}
h2 {
    font-size: 3.125rem;
    @include responsive(xs-sm) {
        font-size: 3rem;
    }
    @include responsive(mobile) {
        font-size: 2rem;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.15rem;
}