// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: "./assets/" !default;
$image-url: "./assets/images/" !default;
$font-url: "./assets/fonts/" !default;
$primary-color: #2A6EBB;
$secondary-color: #54595F;
$dark-color: #0E3F5D;
$accent-color: #33A19A;
$gray-color: #707070;
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #42BDF4;
$green-color: #B4D012;
$gray-color-2: #8D8D8D;
$light-gray-color: #F2F2F2;
:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --dark-color: #{$dark-color};
    --accent-color: #{$accent-color};
    --white-color: #{$white-color};
    --black-color: #{$black-color};
    --gray-color: #{$gray-color};
    --gray-color-2: #{$gray-color-2};
    --blue-color: #{$blue-color};
    --green-color: #{$green-color};
    --light-gray-color: #{$light-gray-color};
}
