// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: "./assets/" !default;
$image-url: "./assets/images/" !default;
$font-url: "./assets/fonts/" !default;
$primary-font: "Source Sans 3", sans-serif;
$primary-color: #2A6EBB;
$secondary-color: #54595F;
$accent-color: #33A19A;
$text-color: #707070;
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #42BDF4;
$green-color: #B4D012;
:root {
    --primary-font: #{$primary-font};
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color: #{$accent-color};
    --white-color: #{$white-color};
    --black-color: #{$black-color};
    --text-color: #{$text-color};
    --blue-color: #{$blue-color};
    --green-color: #{$green-color};
}
