#masthead {
    .navbar-brand {
        img {
            width: 82px;
            height: 82px;
            object-fit: contain;
        }
    }
    .search {
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
        font-weight: 500;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 40px;
    }
    .btn-link {
        color: var(--black-color);
    }
}
.menu-toggler {
    span {
        display: flex;
        align-items: center;
        .menu-toggler-icon {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            &:before {
                content: "";
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect width="100%" height="100%" fill="none" rx="100" ry="100" stroke="%232A6EBB" stroke-width="5" stroke-dasharray="50%, 13%" stroke-dashoffset="86" stroke-linecap="butt"/></svg>');
                width: 34px;
                height: 34px;
                border-radius: 100px;
                transition: 400ms;
                position: absolute;
            }
        }
    }
    &:hover {
        .menu-toggler-icon {
            &:before {
                transform: rotate(45deg);
            }
        }
    }
}
