section.archive-grid {
    min-height: 719.427px;
    .column-holder {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        @include box-shadow(0px 3px 3px #00000014);
        p {
            @include responsive(mobile) {
                font-size: 13px;
            }
          
        }
        .content-holder {
            padding: 20px;
            flex: 1 0 0%;
            .heading-box {
                h3 {
                    @include responsive(mobile) {
                        font-size: 1rem;
                    }
                }
            }
            .description-box {
                color: var(--gray-color);
            }
            @include responsive(mobile) {
                padding: 10px;
            }
        }
    }
    @include responsive(mobile) {
        .row {
            --bs-gutter-x: 10px;
            --bs-gutter-y: 10px;
        }
    }
}
