section.archive-grid {
    .column-holder {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        .content-holder {
            padding: 20px;
            .product_type_course {
                font-weight: bold;
                @include button-primary;
            }
        }
    }
}
